{
  "Client": {},
  "Server": {
    "SSHBindAddress": "0.0.0.0",
    "MaxConcurrentCats": 2,
    "MaxConcurrentTails": 50,
    "MaxConnections": 50,
    "MapreduceLogFormat" : "default",
    "HostKeyFile" : "cache/ssh_host_key",
    "HostKeyBits" : 2048,
    "Permissions": {
      "Default": [
        "readfiles:^/.*$"
      ],
      "Users": {
        "pbuetow": [
          "readfiles:^/.*$"
        ],
        "jblake": [
          "readfiles:^/tmp/foo.log$",
          "readfiles:^/.*$",
          "readfiles:!^/tmp/bar.log$"
        ]
      }
    }
  },
  "Common": {
    "LogDir" : "log",
    "CacheDir" : "cache",
    "TmpDir" : "tmp",
    "LogStrategy": "stdout",
    "SSHPort": 2222,
    "DebugEnable": false,
    "ExperimentalFeaturesEnable": false
  }
}
